name: Publish Package

on:
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      gpr:
        default: "yes"
        description: Publish to GPR?
        required: true

permissions:
  contents: read

jobs:
  prepare:
    name: Prepare source code
    runs-on: ubuntu-latest
    if: github.event_name == 'release' || github.event.inputs.gpr == 'yes'
    steps:
      - name: Prepare source
        uses: myrotvorets/composite-actions/node-prepublish@c2f2ef855b626c801b87bf3297b4a3b34f378489 # master

  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: prepare
    permissions:
      contents: read
      packages: write
      statuses: write
    steps:
      - name: Publish package
        uses: myrotvorets/composite-actions/node-publish@c2f2ef855b626c801b87bf3297b4a3b34f378489 # master
        with:
          node-auth-token: ${{ github.token }}
          registry-url: https://npm.pkg.github.com
        if: github.event.inputs.gpr == 'yes' || github.event_name == 'release'
